header {
  background-image: url("/public/hero_image.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem;
  width: 100%;
  min-height: 75vh;
}

.card {
  background-color: rgba(47, 164, 231, 0.4);
  color: white;
  border: none;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.card-body h1,
h5 {
  color: white;
}

.container {
  padding: 2rem 1rem;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}

.navbar-nav {
  padding-left: 1rem;
}
